/* SubmitReviewModal.css */

.new-review-container {
    background-color: #151826;
    border-radius: 10px;
    padding: 20px;
  }

  .new-review-container h2 {
    color: #cad2e0;
  }

  .new-review-container label {
    display: block;
    color: #cad2e0;
    font-weight: bold;
    margin-top: 15px;
  }

  .new-review-container input[type="checkbox"] {
    margin-right: 10px;
  }

  .new-review-container textarea {
    background-color: #373c50;
    color: #cad2e0;
    padding: 10px;
    border: 1px solid #6ca100;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
  }

  .new-review-container textarea::placeholder {
    color: #cad2e0;
  }

  .new-review-container .create-new-review-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .new-review-container button {
    background-color: #6ca100;
    color: #d4e14b;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;
    margin-right: 10px;
    margin-top: 15px;
  }

  .new-review-container button:hover {
    background-color: #81be05;
    color: #fcffd5;
    transition: 0.5s;
    transform: scale(1.01);
  }

  .new-review-container .create-new-review-cancel-button {
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;
  }

  .new-review-container .create-new-review-cancel-button:hover {
    background-color: #ff4949;
    color: #fff;
    transition: 0.5s;
    transform: scale(1.01);
  }
