.new-game-container {
    background-color: #151826;
    border-radius: 10px;
    padding: 20px;
  }

  .new-game-container h2 {
    color: #cad2e0;
  }

  .new-game-form label {
    color: #cad2e0;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .new-game-form input[type="text"],
  .new-game-form input[type="number"],
  .new-game-form textarea {
    background-color: #373c50;
    color: #cad2e0;
    padding: 10px;
    border: 1px solid #6ca100;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
  }

  .new-game-form input[type="text"]::placeholder,
  .new-game-form input[type="number"]::placeholder,
  .new-game-form textarea::placeholder {
    color: #cad2e0;
  }

  .new-game-errors {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: 5px;
  }

  .new-game-form button.create-new-game-button-modal,
  .new-game-form button.create-new-game-cancel-button-modal {
    background-color: #6ca100;
    color: #d4e14b;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;
    margin-right: 10px;
  }

  .new-game-form button.create-new-game-button-modal:hover,
  .new-game-form button.create-new-game-cancel-button-modal:hover {
    background-color: #81be05;
    color: #fcffd5;
    transition: 0.5s;
  }
